// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    padding: 0;
    margin: 0;
}

html {
    background: url(../images/background.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background-color: rgba(0,0,0,.65);
    color: rgba(255,255,255,.6);
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-weight: 100;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
