<html>

    <head>
    
        <title>obsi</title>
        
        </head>
    <body> 
        
       <!-- NAVIGATION -->
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="bio.html" class="active">Bio</a></li>
                <li><a href="photos.html">Photos</a></li>
                <li class="sub-nav" ><a href="music.html">Music</a>
					
				
                <li><a href="videos.html">Videos</a></li>
                <li><a href="news.html">News</a></li>
                <li><a href="tour.html">Tour</a></li>
                <li><a href="contact.html">Contact</a></li>                
            </ul>
        </nav>





<div class="jumbotron">
    <h1>PROJET AUDIO</h1>
       <p>SUBTITLE</p>
       </div>
   
              
</section>

    <div class="wrapper">
        
            
            <!-- VIDEOS -->
            <aside>
                <h1>Videos</h1>
                <a href="videos.html">All Videos</a>
            </aside>
            <section id="videos-homepage">
                <article>
                    <a href="#"><%= image_tag("video-like-a-rose-530x300.jpg",:alt => "image tirée de la vidéo", :class => "tof") %><div><strong>Like A Rose - Ashley Monroe</strong></div></a>
                </article>
                <article>
                    <a href="#"><%= image_tag("video-big-love-550-530x300.jpg",:alt => "image tirée de la vidéo", :class => "tof") %><div><strong>
                    <a href="videos/big-love.html">Big Love — Carrie Rodriguez</strong></div></a>
                </article>
                <article>
                   <a href="#"><%= image_tag("video-waitin-on-june-530x300.jpg",:alt => "image tirée de la vidéo", :class => "tof") %><div><strong>
                    <a href="videos/waiting-on-june.html">Waiting On June — Holly Williams</strong></div></a>
                </article>
            </section>
       
        <aside>
                <h1>Upcoming Gigs</h1>
            </aside>
            <section id="gigs">
               
               
                <a href="#">
                    <article>
                        <div class="gig-infos">
                            <h5>sep</h5>
                            <strong>14</strong>
                            <em>Nashville,TN</em>
                            <p>The Bluebird Cafe</p>
                        </div>
                        <div class="gig-description"></div>
                    </article>
                </a>
                <a href="#">
                    <article>
                        <div class="gig-infos">
                            <h5>SEP</h5>
                            <strong>16</strong>
                            <em>Seattle,WA</em>
                            <p>Tractor Tavern</p>
                        </div>
                        <div class="gig-description"></div>
                    </article>
                </a>
                <a href="#">
                    <article>
                        <div class="gig-infos">
                            <h5>SEP</h5>
                            <strong>17</strong>
                            <em>Alexandria,VA</em>
                            <p>the Birchmere</p>
                        </div>
                       
                    </article>
                </a>
                <a href="#">
                    <article>
                        <div class="gig-infos">
                            <h5>SEP</h5>
                            <strong>25</strong>
                            <em>Washington,DC</em>
                            <p>The Hamilton</p>
                        </div>
                        </article> 
                  <a href="#">
                    <article>
                        <div class="gig-infos">
                            <h5>OCT</h5>
                            <strong>30</strong>
                            <em>Chipping Ongar,Essex</em>
                            <p>Zinc Arts Centre</p>
                        </div>
                        <div class="gig-description"></div>
                    </article>
                </a>
                <div class="gig-all"><a href="tour.html">View all Gigs</a></div>    
            </section>
            
           
           <aside class="centered"></aside>
            <section id="about">
           
            <article>
                <h1>About Obsidian</h1>
                <p>The Obsidian theme, like the naturally occurring volcanic glass of the same name, possesses an inherent allure that's stylish in appearance and practical in purpose. With distinctive background options and various customization possibilities, Obsidian makes it easy to create the ultimate hub for your online identity.</p>
            </article>
            <article>
                <h1>Vivienne's Omitted Line</h1>    
                <a href="#"><%= image_tag("album-03-300x300.jpg",:alt => "image tirée de la vidéo", :class => "tof") %><div><strong>
            </article>
           
           
                
            <article>
                <h1>Recent Posts</h1>    
                <a href="#">Welcome to our redesigned website</a>
                <em>April 1, 2015</em>
                <a href="#">New tour dates posted</a>
                <em>December 16, 2014</em>
                <a href="#">History of Popular Music</a>
                <em>December 15, 2014</em>
            </article>
           
            </section>
<!-- FOOTER -->  
 
<aside class="centered"></aside>
 <center>
    </hr>
       <div class="text-center">
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-facebook-official"></i></a>
      <a href="#"><i class="fa fa-instagram"></i></a>
      <a href="#"><i class="fa fa-vimeo"></i></a>
      <a href="#"><i class="fa fa-amazon"></i></a>
      <a href="#"><i class="fa fa-apple"></i></a>
      <a href="#"><i class="fa fa-soundcloud"></i></a>
     
      <!-- rdio n'existe plus et donc sont icon aussi -->
      <a href="#"><i class="fa fa-spotify"></i></a>
      <br/>
      <br/>
      <br/>
      <p class="bb">OBSIDIAN MUSIC THEME BY AUDIOTHEME.</P></center>
 </p>
      
  
</footer>



</body>
</html>
